#ifndef SECRETS_H
#define SECRETS_H

const char * HOST = "";

#if TARGET_PLATFORM == 0

    const int PROXY_PORT = ;
    const char * UUID = "";
    const char * USER = "";
    const char * PASS = "";

#else
    const char * SSID = "";
    const char * PASS_WIFI = "";
    const char * UUID = "";
    const char * USER = "";
    const char * PASS = "";
#endif

#endif