#ifndef SECRETS_H
#define SECRETS_H

#define PROXY_PORT 0
#define HOST ""
#define SSID ""
#define PASS ""
#define UUID_ARDUINO ""
#define USER_ARDUINO ""
#define PASS_ARDUINO ""
#define UUID_ESP32 ""
#define USER_ESP32 ""
#define PASS_ESP32 ""
#endif